/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgba(10, 10, 10, 0.784);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.header{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(226, 227, 228, 0.176);
    color: white;
    padding: 20px;
    font-size: larger;
    border: 2px solid rgba(246, 243, 243, 0.178);
    border-radius: 10px;
}

.tick{
    margin-top: 10rem;
    width: 90%;
    max-width: 20rem;
    background-color: #000000;
    color: #ff0000;
    padding: 2rem;
    border: 2px solid rgba(246, 243, 243, 0.178);
    border-radius: 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
}
.box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    aspect-ratio: 1/1;


}
.tick1,.tick2,.tick4,.tick5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}
.tick3,.tick6{
    border-bottom: 2px solid white;
}
.tick7,.tick8{
    border-right: 2px solid white;
}


.end{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    background-color: rgba(226, 227, 228, 0.176);
    color: white;
    padding: 20px;
    font-size: larger;
    border: 2px solid rgba(246, 243, 243, 0.178);
    border-radius: 10px;
    display: none;

}
.end.active{
    display: flex;
}
.win{
    background-color: rgba(91, 156, 91, 0.542);
}
